#divProb1 div{
	height: 100px;
	width: 300px;
	margin: 5px;
	border-radius: 25px;
	box-shadow: 5px 5px 3px #333;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#divOne{
	background-color: #4A43C2;
	color: #FFFFFF;
}

#divTwo{
	background-color: #5B54D0;
	color: #FFFFFF;
}

#divThree{
	background-color: #716BDE;
}

#divFour{
	background-color: #8580E6;
}

#divFive{
	background-color: #A5A1F3;
}