.box1{
	width: 35%;
	height: 100%;
	left: 35%;
	top: 10%;
	background-color: pink;
}

.innerBox{
	width: 20%;
	height: 20%;
	left: 13%;
	top: 5%;
	opacity: 0.6;
	position: fixed;
	background-color: purple;
}